

ol, ul {
    list-style: none;
}

body {
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #222;
  background: #fefefe;
}

a {
  text-decoration: none;
  color: #00897B;
  padding: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  transition: color 0.5s ease;
}

/* TYPOGRAPHY
************** */

p {
  font-family: "Lato", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4em;
}

.profile{
  width: 100px;
  height: 100px;
  border: 0px solid black;
  object-fit: scale-down;
  background-image: url(img.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 50% 50%; 
}

#main {
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#copy {
  margin: 60px 20px 0;
  line-height: 1.7em;
}

#name {
  /*color: #B00020;*/
  color: #C51162;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 32px auto 32px;
  width: 64px;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  margin: 0 auto;
  /*max-width: 684px;*/
  padding-bottom: 4px;
}

h2 {
  font-size: 16px;
  font-weight: 100;
  margin: 0 auto;
  /*max-width: 684px;*/
  padding-bottom: 4px;
}

.bold {
  font-weight: 350;
}

.link {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
}

.col {
  /*margin: 64px 20px 100px;*/
  text-align: left;
  width: 26%;
  float: left;
  margin: 0 3% 100px 3%;
}

.sub {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 22px 0 12 px;
  text-transform: uppercase;
}

.item-name {
  font-size: 18px;
  margin-bottom: 4px;
}

.item-name a {
  border-bottom: 1px dotted #c2dce6;
  color: #222;
  font-weight: 600;
}

.item-desc {
  font-size: 16px;
  margin-bottom: 24px;
}

.social-links {
}

.social-links i{
  margin: 10px;
  color: #999;
  font-size: 1.4em;
}

a:hover{
  color: #0081b6;
}

.col.last {
  padding: 0;
}

.social-links i.last {
  margin: 0;
  padding: 0;
}
